.header nav{
    background-color: blue;
    line-height: 40px;
    padding-left: 40px;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-right: 23px;
    padding: 8px;
}
nav a:hover{
    background-color: lightblue;
    color: black;
}
#about{
   margin-left: 600px;
}
.slogan{
    text-align: center;
    color:royalblue;
    padding-bottom: 40px;
}